@import './variables.scss';

.menuBreadcrumbs {
    border-bottom: 1px solid $primary-color;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }
    
    li {
        color: $primary-color;
        padding: 5px;
        padding-left: 0px;
        cursor: pointer;

        &:after {
            content: " / ";
        }

        &:last-of-type {
            background-color: white;
            color: black;
            cursor: default;

            &:after {
                content: "";
            }
        }
    }
} 

.mainMenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 500px;

    div {
        width: 100px;
        height: 100px;
        margin: 2px;
        background-color: $subtle-color;
        display: flex;
        justify-content: center;
        align-items: center;    
        color: white;
        cursor: pointer;
        font-size: 1.2em;

        &:hover {
            background-color: $primary-color;
        }
    }
}
